.container_header{
 display: flex;
 background: #f1f1f1;
 align-items: center;
}

.header_text{
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 40px;
color: #505050;
margin-right: 48px;
margin-left: 40px;
}
.header_label{
    position: relative;
    margin: 33px 0;
    margin-right: 30px;
}
.header_input{

background: #fdfdfd;
border-radius: 20px;
padding: 8px 20px;
width: 507px;
height: 36px;
padding-left: 50px;

font-weight: 500;
font-size: 16px;
color: #bebebe;
}
.header_svg{
    position: absolute;
    left: 20px;
    top: 25%;
}
.container_header img{
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin-right: 20px;
}
.name_person{
    font-weight: 400;
font-size: 18px;
color: #505050;
}
.register_link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    width: 139px;
    height: 37px;
    background: #6987d3;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
}