.container_menu {
  background: #6987d3;
  border-radius: 0 20px 20px 0;
  width: 290px;
  height: 1024px;
  padding-top: 40px;
}
.container_logo{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 96px;
}
.container_logo h1{
    font-weight: 600;
font-size: 30px;
color: #f8f8f8;
}

.container_nav_menu{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.container_nav_menu li{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 20px 0 0 20px;
padding: 8px;
width: 260px;
height: 44px;
cursor: pointer;
}
.container_nav_menu li:hover{
    background-color: rgb(18, 82, 147);
}
.container_nav_menu svg{
    margin-right: 12px;
}
.container_nav_menu p{
    font-weight: 400;
font-size: 18px;
color: #f8f8f8;
}
.container_nav_menu li:nth-child(4) {
    margin-bottom: 50px;
}
.container_nav_menu li:nth-child(5) {
    margin-bottom: 459px;
}