.login__link{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #470000;
    display: flex;
    margin-bottom: 24px;
}

.login__link__style{
  text-decoration: underline;
  cursor: pointer;
}

.forgot__title{
    margin-bottom: 32px;
}